/* 1) Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #000000;
  --secondary-color: #f8f8f8;
  --text-color: #333333;
  --light-text: #ffffff;
  --gray-text: #777777;
  --border-color: #dddddd;
  --transition: all 0.3s ease;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* Logo image styling */
.logo-img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* navbar scroll */
.navbar-scrolled {
  background-color: #ffffff !important;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.navbar-scrolled .nav-link {
  color: #000 !important; /* dark text for links */
}

.navbar-scrolled .navbar-brand span {
  color: #000; /* dark text for brand */
}

/* Start Gallery */

.hover-scale {
  transition: transform 0.5s ease;
}

.position-relative:hover .hover-scale {
  transform: scale(1.05);
}

.img-wrapper {
  aspect-ratio: 4/ 3;
}
